body{
    background-color:#FFF0AC    ;
}
.title{
    text-align:center;
    font-family:標楷體;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
}
.aa{
    background:linear-gradient(to top left,orange,yellow);
    margin-top:25px;
    margin-left:100px;
    margin-right:100px;
    border-radius: 1cm; 
    font-family:標楷體;
    padding-bottom: 20px;
    border-style: double;
    border-color: red;
    border-width: 10px;
}
.pic{
    margin-top:20px;
    margin-left:100px;  
    margin-bottom:20px;
    border-radius: 1cm; 
    border-style: double;
    border-width: 0.5cm; 
}
.content{
    margin-top:-20px;
    margin-left:125px;
    font-size:30px;
    font-family: 標楷體;
}
.bb{
    position: absolute;
    left: 500px;
    top: 240px;
    bottom: 50px;
    font-size: 25px; 
    font-family: 標楷體;
}
.cc{
    position: absolute;
    top: 320px;
    left: 1020px;
    right:100px;

 
}
.dd1{
    background:linear-gradient(to top right,#FFDD55,	#F75000);
    margin-top:25px;
    margin-left:100px;
    margin-right:100px;
    border-radius: 1cm; 
    padding-bottom: 20px;
    font-family:標楷體;
    border-style:ridge;
    border-color: #977C00   ;
    border-width: 10px;
}
.ee{
    margin-top:-10px;
    margin-left:200px;  
    margin-bottom:20px;
    font-size: 30px;
    font-family:標楷體;
}
.ff{
    margin-top:-10px;
    margin-left:200px;  
    margin-bottom:20px;
    font-size: 30px;
    font-family:標楷體;
}
.hh{
    position: absolute;
    left: 500px;
    top: 2550px;
    bottom: 50px;
    font-size: 25px;
    font-family: 標楷體;
}
.gg{
    position: absolute;
    left: 600px;
    top: 3070px;
    bottom: 50px;
    font-size: 25px;
    font-family: 標楷體;
}
.pict{
    position: relative;
    border-radius: 1cm; 
    top:-20px;
    left:50px;     
}
.pict2{
    position: relative;
    border-radius: 1cm; 
    top:-10px;
    left:850px;  
    bottom: 20px;   
}
.ii{
    position:absolute;
    left: 200px;
    top: 3530px;
    font-size: 25px;
    font-family: 標楷體;
}
.jj{
    position:absolute;
    left: 600px;
    top: 3950px;
    font-size: 25px;
    font-family: 標楷體;
}
.dd2{
    background:linear-gradient(to left top,#EAC100,#FF7575);
    margin-top:25px;
    margin-left:100px;
    margin-right:100px;
    border-radius: 1cm; 
    font-family:標楷體;
    border-style: groove;
    border-color: #467500;
    border-width: 10px;
}
.dd3{
    background:linear-gradient(to left bottom,#977C00,#FFED97) ;
    margin-top:30px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 40px;
    border-radius: 1cm; 
    font-family:標楷體;
    padding-bottom: 20px;
    border-style: outset;
    border-color: #FFD306       ;
    border-width: 10px;
}
.pi{
    margin-top:10px;
    margin-left:50px;   
    margin-bottom:20px;
    border-radius: 1cm; 
    border-style: inset;
    border-color:cadetblue;
    border-width: 1cm;
}
.home{
    position: relative;
    left: 1000px;
    padding-bottom: 10px;
    border-radius: 1cm; 
}
.right{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-family: 標楷體;
}
.kk{
    position:absolute;
    left: 200px;
    top:4380px;
    font-size: 25px;
    font-family: 標楷體;
}
.ll{
    position: absolute;
    top: 5030px;
    left: 550px;
    bottom: 50px;
    font-size: 25px;
    font-family: 標楷體;
}
.mm{
    position: absolute;
    left: 500px;
    top: 5390px;
    left: 200px;
    bottom: 50px;
    font-size: 25px;
    font-family:標楷體;
}
.ss{
    position: absolute;
    left: 1500px;
    top: 5750px;
    left: 550px;
    bottom: 50px;
    font-size: 25px;
    font-family:標楷體;
}
.pp{
    position: absolute;
    left: 500px;
    top: 6100px;
    left: 200px;
    bottom: 50px;
    font-size: 25px;
    font-family:標楷體;
}
.rr{
    position: absolute;
    top: 6500px;
    left: 780px;
    bottom: 50px;
    font-size: 25px;
    font-family: 標楷體;
}
.pir{
    margin-top:10px;
    margin-left:50px;   
    margin-bottom:20px;
    border-radius: 1cm; 
    border-style: ridge;
    border-color:red;
    border-width: 1cm;
}
.pi2{
    margin-top:10px;
    margin-left:50px;   
    margin-bottom:20px;
    border-radius: 1cm; 
    border-style: outset;
    border-color:coral;
    border-width: 1cm;
}
.dd4{
    background:linear-gradient(to right top,#D9B300,#AD5A5A)   ;
    margin-top:30px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 40px;
    border-radius: 1cm; 
    font-family:標楷體;
    padding-bottom: 20px;
    border-style: outset;
    border-color: #B766AD      ;
    border-width: 10px;
}
a:link{
    color:#FF9D6F;
}
a:visited{
    color:#467500;
}
a:hover{
    cursor: pointer;   
}
a:active{
    color: red;
}
@keyframes bar1{
    from{
        width: 0%;
    }
    to{
        width:90%;
    }
}
@keyframes bar2{
    from{
        width: 0%;
    }
    to{
        width:80%;
    }
}
@keyframes bar3{
    from{
        width: 0%;
    }
    to{
        width:70%;
    }
}
@keyframes bar4{
    from{
        width: 0%;
    }
    to{
        width:50%;
    }
}
@keyframes bar5{
    from{
        width: 0%;
    }
    to{
        width:40%;
    }
}
@keyframes bar6{
    from{
        width: 0%;
    }
    to{
        width:95%;
    }
}
.Java{
    animation: bar1 5s ease;
    width: 90% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;  
    border-style: double;
    border-width: 0.3cm;
    border-color:#EAC100;
}
.HTML{
    animation: bar1 5s ease;
    width: 80% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5; 
    border-style: inset;
    border-width: 0.5cm;
    border-color: #EAC100;
}
.CSS{
    animation: bar1 5s ease;
    width: 70% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: groove;
    border-width: 0.5cm;
    border-color:#FFD306;
}
.Net{
    animation: bar1 5s ease;
    width: 50% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: outset;
    border-color: chocolate;
    border-width: 0.5cm;
}
.Kotlin{
    animation: bar1 5s ease-out;
    width: 40% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: ridge;
    border-width: 0.5cm;
    border-color: #FF9D6F;
}
marquee{
    font-size: 40px;
    font-family: 標楷體;
    font-weight: bolder;
}
.cor{
    animation: bar1 5s ease;
    width: 95% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: double;
    border-width: 0.3cm;
    border-color:#EAC100;
    
}
.com{
    animation: bar1 5s ease;
    width: 90% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: inset;
    border-width: 0.5cm;
    border-color: #EAC100;
}
.comu{
    animation: bar1 5s ease;
    width: 85% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: outset;
    border-color: chocolate;
    border-width: 0.5cm; 
}
.lead{
    animation: bar1 5s ease;
    width: 85% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: groove;
    border-width: 0.5cm;
    border-color:#FFD306;
}
.eng{
    animation: bar1 5s ease-out;
    width: 80% ;
    background-color: #467500;
    border-radius: 1cm;
    text-align: center;
    animation-iteration-count:5;
    border-style: ridge;
    border-width: 0.5cm;
    border-color: #FF9D6F;
}
