body{
	background-color:#FFF0AC	;
}
.title{
	text-align:center;
	font-family:標楷體;
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
    
}
.aa{
	background-color:#FFD306;
	margin-top:25px;
	margin-left:100px;
	margin-right:100px;
	border-radius: 1cm;	
    font-family:標楷體;
    padding-bottom: 20px;
    border-style: double;
    border-color: red;
    border-width: 10px;
}
.pic{
	margin-top:20px;
	margin-left:100px;	
    margin-bottom:20px;
    border-radius: 1cm;	
}
.content{
    margin-top:-20px;
    margin-left:115px;
    font-size:30px;
    font-family: 標楷體;
}
.bb{
    position: absolute;
    left: 500px;
    top: 180px;
    bottom: 50px;
    font-size: 20px;
   
    font-family: 標楷體;
}
.cc{
    position: absolute;
    top: 250px;
    left: 1000px;
    right:100px;
 
}
.dd1{
    background-color:#FFC78E;
	margin-top:25px;
	margin-left:100px;
	margin-right:100px;
	border-radius: 1cm;	
    padding-bottom: 20px;
    font-family:標楷體;
    border-style:ridge;
    border-color: #977C00	;
    border-width: 10px;
}
.ee{
    margin-top:-10px;
	margin-left:200px;	
    margin-bottom:20px;
    font-size: 30px;
    font-family:標楷體;

}
.ff{    
    position: absolute;
    left: 900px;
    top: 580px;
    bottom: 50px;
    font-size: 30px;
    font-family: 標楷體;
}
.hh{
    position: absolute;
    left: 500px;
    top: 1070px;
    bottom: 50px;
    font-size: 25px;
    font-family: 標楷體;
}
.gg{
    position: absolute;
    left: 500px;
    top: 1570px;
    bottom: 50px;
    font-size: 25px;
    font-family: 標楷體;
}
.pict{
    position: relative;
    border-radius: 1cm;	
    top:-20px;
	left:50px;	
    
}
.pict2{
    position: relative;
    border-radius: 1cm;	
    top:-10px;
	left:50px;	 
    bottom: 20px;  
}
.ii{
    position:absolute;
    left: 500px;
    top: 1950px;
    font-size: 25px;
    font-family: 標楷體;
}
.jj{
    position:absolute;
    left: 500px;
    top: 2300px;
    
    font-size: 25px;
    font-family: 標楷體;
}
.dd2{
    background-color:#FFC78E;
	margin-top:25px;
	margin-left:100px;
	margin-right:100px;
	border-radius: 1cm;	
    font-family:標楷體;
    border-style: groove;
    border-color: #467500;
    border-width: 10px;
}
.dd3{
    background-color:#FFC78E;
	margin-top:30px;
	margin-left:100px;
	margin-right:100px;
    margin-bottom: 40px;
	border-radius: 1cm;	
    font-family:標楷體;
    padding-bottom: 20px;
    border-style: outset;
    border-color: #FFD306		;
    border-width: 10px;
}
.pi{
	margin-top:10px;
	margin-left:50px;	
    margin-bottom:20px;
    border-radius: 1cm;	
}
.home{
    position: relative;
    left: 1000px;
    padding-bottom: 10px;
}
.right{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-family: 標楷體;
}
